# Nx
.nx/cache
.nx/workspace-data
dist/
tmp/

# Node
node_modules/

# Angular
.angular/

# Coverage
coverage/

# Playwright
playwright-report/
test-results/

# Env
.env
.env.local

# IDE
.idea/
*.iml
